<div>
    <h1 class="text-center">Centro de Mesajes</h1>
    <form onsubmit="return addMsn()">
        <div class="mb-3">
            <input type="email" class="form-control" name='nameUser' id="nb" aria-describedby="emailHelp"
                placeholder="Coloque su Email">
        </div>
        <div class="mb-3" id="chats">
          
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name='msn' id="msn" aria-describedby="emailHelp"
                placeholder="Coloque su Mensaje">
        </div>
       <button type="submit" onclick="disabled()" class="btn btn-dark m-3">Enviar</button>
    </form>
</div>
</main>